html,
body {
  height: 100%;
  background-color: #333;
  color:white;
}


blockquote { 
  font-size: 35px; 
  color: yellow;
  background-color: rgba(0,0,0,0.3); 
  border-radius: 15px;
  padding: 35px;
}